@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Source+Serif+Pro:wght@300&family=Tinos:wght@700&display=swap');

/* font families
font-family: 'Cormorant Infant', serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Tinos', serif; */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body { 
    font-family: 'Cormorant Infant', serif;
    text-transform: capitalize;
    color: black;
   
}
    

h1 h2{
    font-family: 'Cormorant Infant', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
    ;
}
p {
    font-family: 'Tinos', serif; 
    text-transform: lowercase;
    letter-spacing: 4px;
    color: black;
}

/* flex container start */


.flex-main {

    display:flex;
    justify-content: flex-start;
    align-items: left;
    min-height: 200vh;
    background: linear-gradient(45deg, green,white);
    flex-direction: column;
    
}
.flex-head { 
    height: 75px;
    width: 100%;
    background: white;
    border: none;
    margin: none;

}
#logo { 
    float: left;
    font-family: 'Cormorant Infant', serif;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 280%;
    color: black;
    text-align: left;
    margin: 5px 0px 5px 15px;

}
#heroimage {    
    background-image: url("https://res.cloudinary.com/martimib/image/upload/c_limit,h_300,o_100,q_auto:best,w_3020/v1651936546/organic-media/College%20Fruit/College%20Fruit/hero_gmkpqj.jpg");
    height: 400px;
    width: 100%;
    border: none;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
