@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Source+Serif+Pro:wght@300&family=Tinos:wght@700&display=swap');

/* font families
font-family: 'Cormorant Infant', serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Tinos', serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { 
    display:flex;
    font-family: 'Cormorant Infant', serif;
    font-size: 16px;
    height: 100%;

}

h1 h2 {
    font-family: 'Source Serif Pro', serif;
}
p { 
    font-family: 'Tinos', serif;

    
}

.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: white;
    color: green;
    height: 75px;
    justify-content: space-between;
    margin: auto;

    
}
.logo { 
    font-size: 60px;
    font-weight: 800;
    text-transform:  uppercase;
    color: darkgreen;
    text-decoration: none;
    padding: 1px;
    margin-left: 20px;

    
   
}
.navbar ul li { 
    list-style: none;
    display: inline-block;
    margin: 0 40px;
}
.navbar ul li a { 
    text-decoration: none;
    color: green;
    text-transform: uppercase;
    font-size: 120%;
    font-weight: 600
} 
.navbar ul li a:hover { 
    color: white;
    background: darkgreen;
}
.menu .toggle { 
       display: inline-block;
       height: 40px;
       padding: 30px; 
    
    

   
}
.background { 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)), url('../CSS/media/collegefruit/mixed-fruit.jpeg');
    background-position: center no-repeat;
    background-size: cover;

}


.fruit-images {

}
.what-we-do { 
   
}
.what-we-offer {
    
}
.footer { }